@using Wobalization.Wasm.Layouts
@using Wobalization.Wasm.Providers
<AuthenticationProvider LoginPath="/authentication/sign-in">
    <AppProvider>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(DashboardLayout)"/>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </AppProvider>
</AuthenticationProvider>